
.clear {
    clear: both;

}
body {
    background-image: url("../images/maze.jpg");
    background-repeat: repeat;
  }

p {
    font-size: 10px;
}

#container {

    width: 80%;
    height: 100%;
    border: 1px black solid;
    background-color: lightcoral;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;



}

#title {
    height: 100px;
    font-family: 'VT323';
    font-size: 80px;
    text-align: center;


}